/* apply boarder box to everything */
*, *:before, *:after {
    box-sizing: border-box;
}



/* Main */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body, html {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background-color: #6D6875;
}
footer {
    color: white;
}
/* Variables */

/* Navigation */

.navRow {
  overflow: hidden;
  background-color: #6D6875;
  border-bottom: 1px solid #4c444d;
}

.navRow a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navRow a:hover {
  background-color: #746876;
}

.current {
  background-color: #4c444d;
}

.navRow .icon {
  display: none;
}

/* MEDIA QUERY FOR SMALL SCREENS ALSO REMOVE BACKGROUND IMG ON INDEX*/
@media screen and (max-width: 600px) {
  .navRow a:not(:first-child) {display: none;}
  .navRow a.icon {
    float: right;
    display: block;
  }
    
}

@media screen and (max-width: 600px) {
  .navRow.responsive {position: relative;}
  .navRow.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navRow.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}



.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/IMG_BG.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media screen and (max-width: 600px) {
    .hero-image{
        background-image: none;
        border-top: 1px solid black;
    }
    
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d0ced3;
  font-size: 30px;
  text-shadow: 2px 2px 2px black;
}

/* Content */
.content {
    height: 100%;
    width: 100%;
    overflow: scroll;
    background-color: #f2f2f2;
}
.content p {
  padding: 10%;
  margin: 15px;
  font-size: 24px;
  color: black;
  text-align: center;
}
.content h1 {
    text-align: center;
    font-size: 36px;
    margin: 15px;
    padding: auto;
}
.content .center {
    padding: auto;
    margin: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

/* contact page buttons */

.text {
    vertical-align: top;
    display: inline-block;
    margin-right: 0%;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 55%;
}

.imgbar {
    display: inline-block;
    margin-right: 0%;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 30%;
    margin-left: 8%;
}
.imgbar img {
    display: initial;
    margin: initial;
    width: 75%;
    border-color: #6D6875;
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
}

.resumebar {
    display: inline-block;
    margin-right: 0%;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 32%;
    margin-left: 8%;
}
.resumebar img{
        display: initial;
    margin: initial;
    width: 100%;
    border-color: #6D6875;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
}
.content code {
    display: block;
    background-color: lightgray;
    border-color: lightgray;
    font-size: 20px;
    border-radius: 32px;
    border-width: 1px;
    border-style: solid;
    padding-left: 0px;
}

/* Skip main */
a.skip-main {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 20px;
    background-color: grey;
    color: #f2f2f2;
    transform: translateY(-50px);
}
a.skip-main:focus, a.skip-main:active {
 transform: translateY(0);
}



/* Gallary Page */
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    margin: -5%;
    width: auto;
    padding: 5px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: slateblue;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  .rotateimg180 {
      -webkit-transform:rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
   .rotateimg90 {
      -webkit-transform:rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
   } 
   .picture {
      border: 1px solid black;
  }
.button {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding-right: 30px;
        padding-left: 70px;
        position: relative;
        background-color:rgb(0,0,0);
        color:rgb(255,255,255);
        text-decoration: none;
        text-transform: none;
        letter-spacing: 1px;
        margin-bottom: 14px;
        text-shadow:1px 1px 0px rgba(0,0,0,0.5);
      }
      
      .button:hover{fsfsf
        text-decoration: none;
        color: #fff;
        text-shadow: none;
      }
      
      .button p{font-size: 18px;}
      .button span {
        position: absolute;
        left: 0;
        width: 50px;
        font-size:30px;
        -webkit-border-top-left-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: 1px solid  rgba(0,0,0,0.15);
          text-decoration: none;
      }
      
      
      .button.google-plus{
        background: #4f1414;
      }
      
      .button.linkedin {
        background: #0e76a8;
      }
      
      .button.youtube {
       background: #c4302b;
      }
      
      .button.github{
        background: #171515;
      }
      
      .button.android {
        background: #a4c639;
      }
      
      .button.skype {
       background: #00aff0;
       }
      
      .button.dropbox{
        background: #3d9ae8;
      }
      
      .button.foursquare{
        background: #25a0ca;
      }
      
      .button.apple{
        background: #cdcdcd;
      }
      
      .button.dribbble{
        background: #ea4c89;
      }
      
      .button.instagram{
        background: #3f729b;
      }
      
      .button.pinterest{
        background: #c8232c;
      }
      
      .button.stackexchange{
        background: #7436ef;
      }
      
      .button.flickr{
        background: #ff0084;
      }
      
      .text-center{
        text-align: center;
      }

#main {
    display: flex;
}
@media all and (max-width: 600px){
    .text {
        display: flex;
        width: 100%;
        margin: auto;
        padding: auto;
    }
    .text p {
        font-size: 1.3em;
        padding: 5px;
    }
    .imgbar {
        width: 100%;
        height: auto;
        padding: auto;
        margin: auto;
        align-content: center;
    }
    .imgbar img {
        height: 5%;
        width: 25%;
        padding:auto;
        margin: auto;
        display: flex;
    }
    .resumebar {
        display: flex;
        width: auto;
    }
}
.image-container{
    display: none;
}
/* container layout for mobile/tablet view 
   on travel page                       */
@media all and (max-width: 1024px) and (orientation: portrait){
    .slideshow-container{
        display: none;
    }
    .image-container{
        display:inline;
        margin: auto;
    }
    .image-container .img {
        height: 100%;
        max-width: 100%;
    }
}

@media print {

    .content {
        overflow: hidden;
    }
    .content * {
        display: inline;
        font-size: .9em;
    }
    .content .resumeimg {
        display: none;
    }
    nav, .imgbar, .image-container{
        display: none;
    }

    
    
}
