/* apply boarder box to everything */
*, *:before, *:after {
    box-sizing: border-box;
}



/* Main */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body, html {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background-color: #6D6875;
}
footer {
    color: white;
}
/* Variables */

/* Navigation */

.navRow {
    display: flex;
    font-size: 1.3em;
    background: #6D6875;
    border-bottom: 1px solid #4c444d;
}

.navRow > ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.navRow > ul > li {
    flex: 1;
    padding :1em;
    color: #D7D9D7;
}

.navRow > ul > li > a {
    text-decoration: none;
    position: relative;
    z-index: 0;
    cursor: pointer;
    color: #f2f2f2;
    margin: 0px 10px;
    padding: 10px 10px;
}

.navRow > ul > li > a:before, .navRow > ul > li > a:after {
  position: absolute;
  top: 0%;
  width: 2px;
  height: 100%;
  background: #D7D9D7;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

.navRow > ul > li > a:before {
      left: 0px;
  transform: translateX(10px);
}
.navRow > ul > li > a:after {
      right: 0px;
  transform: translateX(-10px);
}
.navRow > ul > li > a:hover:before, .navRow > ul > li > a:hover:after {
  opacity: 1;
  height: 100%;
  transform: translateX(0px);
}
.navRow > ul > li.current {
    background-color: #4c444d;
    
}

#navLogo {
    flex: 4;
    font-weight: bold;
}

/* Hero */


.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/IMG_BG.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d0ced3;
  font-size: 30px;
  text-shadow: 2px 2px 2px black;
}

/* Content */
.content {
    width: auto;
    overflow: visible;
    background-color: #f2f2f2;
}
.content p {
  padding: 10%;
  margin: 15px;
  font-size: 24px;
  color: black;
  text-align: center;
}
.content h1 {
    text-align: center;
    font-size: 36px;
    margin: 15px;
    padding: auto;
}
.content .center {
    padding: auto;
    margin: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.content > container{
    width: 100%; text-align: center; margin: auto; background-color: #f2f2f2;
}
/* contact page buttons */

.text {
    vertical-align: top;
    display: inline-block;
    margin-right: 0%;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 55%;
}

.imgbar {
    display: inline-block;
    margin-right: 0%;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 30%;
    margin-left: 8%;
}
.imgbar img {
    display: initial;
    margin: initial;
    width: 75%;
    border-color: #6D6875;
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
}

.resumebar {
    display: inline-block;
    margin-right: 0%;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 32%;
    margin-left: 8%;
}
.resumebar img{
        display: initial;
    margin: initial;
    width: 100%;
    border-color: #6D6875;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
}
.content code {
    display: block;
    background-color: lightgray;
    border-color: lightgray;
    font-size: 20px;
    border-radius: 32px;
    border-width: 1px;
    border-style: solid;
    padding-left: 0px;
}

/* Skip main */
a.skip-main {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 20px;
    background-color: grey;
    color: #f2f2f2;
    transform: translateY(-50px);
}
a.skip-main:focus, a.skip-main:active {
 transform: translateY(0);
}



/* Gallary Page */
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 100%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: slateblue;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  .rotateimg180 {
      -webkit-transform:rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
   .rotateimg90 {
      -webkit-transform:rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
   } 
   .picture {
      border: 1px solid black;
  }
.button {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding-right: 30px;
        padding-left: 70px;
        position: relative;
        background-color:rgb(0,0,0);
        color:rgb(255,255,255);
        text-decoration: none;
        text-transform: none;
        letter-spacing: 1px;
        margin-bottom: 14px;
        text-shadow:1px 1px 0px rgba(0,0,0,0.5);
      }
      
      .button:hover{
        text-decoration: none;
        color: #fff;
        text-shadow: none;
      }
      
      .button p{font-size: 18px;}
      .button span {
        position: absolute;
        left: 0;
        width: 50px;
        font-size:30px;
        -webkit-border-top-left-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: 1px solid  rgba(0,0,0,0.15);
          text-decoration: none;
      }
      
      
      .button.google-plus{
        background: #4f1414;
      }
      
      .button.linkedin {
        background: #0e76a8;
      }
      
      .button.youtube {
       background: #c4302b;
      }
      
      .button.github{
        background: #171515;
      }
      
      .button.android {
        background: #a4c639;
      }
      
      .button.skype {
       background: #00aff0;
       }
      
      .button.dropbox{
        background: #3d9ae8;
      }
      
      .button.foursquare{
        background: #25a0ca;
      }
      
      .button.apple{
        background: #cdcdcd;
      }
      
      .button.dribbble{
        background: #ea4c89;
      }
      
      .button.instagram{
        background: #3f729b;
      }
      
      .button.pinterest{
        background: #c8232c;
      }
      
      .button.stackexchange{
        background: #7436ef;
      }
      
      .button.flickr{
        background: #ff0084;
      }
      
      .text-center{
        text-align: center;
      }
