*,
*:before,
*:after {
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat');
 body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background: #f2f2f2;
}
.center {
	text-align: center;
}
#main {
	display: flex;
	flex: 1;
}
#main > main-content {
	flex: 1;
}
#main > main-content p {
	padding: 10%;
	margin: 15px;
	font-size: 22px;
	color: black;
	text-align: center;
}
#main > main-content h1 {
	text-align: center;
}
#main > aside {
	flex: 0 0 40vw;
}
#main > aside img {
	border-color: #6D6875;
	border-width: 1px;
	border-style: solid;
	border-radius: 25px;
}
.image-container {
	padding: 20%;
}
.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/IMG_BG.png);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.hero-text {
	text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #d0ced3;
	font-size: 30px;
	text-shadow: 2px 2px 2px black;
}
/* navigation */

.navRow {
	overflow: hidden;
	background-color: #6D6875;
	border-bottom: 1px solid #4c444d;
}
.navRow a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.navRow a:hover {
	background-color: #746876;
}
.current {
	background-color: #4c444d;
}
.navRow .icon {
	display: none;
}
/* START FLIP CARD */

.flip {
	background-color: transparent;
	width: 300px;
	height: 200px;
	perspective: 1000px;
}
.flip-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
.flip:hover .flip-inner {
	transform: rotateY(180deg);
}
.flip-front,
.flip-back {
	position: relative;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}
.flip-back {
	color: black;
	transform: rotateY(180deg);
	text-align: center;
}
/* END FLIP CARD */

/* START MODAL */

/* The Modal (background) */

.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}
/* Modal Content/Box */

#modal-content {
	align-content: center;
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	/* Could be more or less, depending on screen size */
}
/* START CAROUSEL */

.carousel-container {
	width: 90%;
	position: relative;
}
.slides {
	display: none;
}
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	border: 2px black;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
.text {
	color: black;
	font-size: 15px;
	position: absolute;
	width: 100%;
	text-align: center;
}
.slide-number {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active,
.dot:hover {
	background-color: #717171;
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}
@keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}
/* Contact Buttons */

.button {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding-right: 30px;
	padding-left: 70px;
	position: relative;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	text-decoration: none;
	text-transform: none;
	letter-spacing: 1px;
	margin-bottom: 14px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}
.button:hover {
	text-decoration: none;
	color: #fff;
	text-shadow: none;
}
.button p {
	font-size: 18px;
}
.button span {
	position: absolute;
	left: 0;
	width: 50px;
	font-size: 30px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	text-decoration: none;
}
.button.google-plus {
	background: #4f1414;
}
.button.linkedin {
	background: #0e76a8;
}
.button.github {
	background: #171515;
}
.button.stackexchange {
	background: #7436ef;
}
/* BEGIN MEDIA QUERIES */

/* MEDIA QUERY FOR SMALL SCREENS ALSO REMOVE BACKGROUND IMG ON INDEX*/

@media screen and (max-width: 1024px) {
	.navRow a:not(:first-child) {
		display: none;
	}
	.navRow a.icon {
		float: right;
		display: block;
	}
}
@media screen and (max-width: 1024px) {
	.navRow.responsive {
		position: relative;
	}
	.navRow.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.navRow.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}
.mobile-display {
	display: none;
}
@media all and (max-width: 1024px) {
	body {
		width: 100%;
		height: 100%;
	}
	img {
		width: 200px;
	}
	.mobile-display {
		display: inline;
	}
	.mobile-display img {
		border-color: #6D6875;
		border-width: 1px;
		border-style: solid;
		border-radius: 25px;
	}
	.mobile-display .image-container {
		padding: 5%;
	}
	aside {
		display: none;
	}
}
video {
	display: none;
	width: 100%;
}
@media print {
	.content {
		overflow: hidden;
	}
	.content * {
		display: inline;
		font-size: .9em;
	}
	nav,
	.imgbar,
	.image-container,
	.content .resumebar,
	.content .contact-img {
		display: none;
	}
	.mobile-display {
		display: none;
	}
	aside {
		display: none;
	}
	button {
		display: none;
	}
	#model-content {
		display: none;
	}
	main-content::after {
		content: url(http://chart.apis.google.com/chart?chs=120x120&cht=qr&chl=https://nickholden.github.io/);
	}
}