
      .container { width: 90%; text-align: center; margin: auto;}
      

      
      .pad50{
        padding-top: 50px;
      }
      
      .button {
      
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding-right: 30px;
        padding-left: 70px;
        position: relative;
        background-color:rgb(0,0,0);
        color:rgb(255,255,255);
        text-decoration: none;
        text-transform: none;
        letter-spacing: 1px;
        margin-bottom: 14px;
        text-shadow:1px 1px 0px rgba(0,0,0,0.5);
      }
      
      .button:hover{
        text-decoration: none;
        color: #fff;
        text-shadow: none;
      }
      
      .button p{font-size: 18px;}
      .button span {
        position: absolute;
        left: 0;
        width: 50px;
        font-size:30px;
        -webkit-border-top-left-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: 1px solid  rgba(0,0,0,0.15);
          text-decoration: none;
      }
      
      
      .button.google-plus{
        background: #4f1414;
      }
      
      .button.linkedin {
        background: #0e76a8;
      }
      
      .button.youtube {
       background: #c4302b;
      }
      
      .button.github{
        background: #171515;
      }
      
      .button.android {
        background: #a4c639;
      }
      
      .button.skype {
       background: #00aff0;
       }
      
      .button.dropbox{
        background: #3d9ae8;
      }
      
      .button.foursquare{
        background: #25a0ca;
      }
      
      .button.apple{
        background: #cdcdcd;
      }
      
      .button.dribbble{
        background: #ea4c89;
      }
      
      .button.instagram{
        background: #3f729b;
      }
      
      .button.pinterest{
        background: #c8232c;
      }
      
      .button.stackexchange{
        background: #7436ef;
      }
      
      .button.flickr{
        background: #ff0084;
      }
      
      .text-center{
        text-align: center;
      }